body{
		background: #b3ffb3;
}

h1{
	font-weight: bold;
	font-size: 65px;
}

.container{
background: white;
max-width: 800px;
max-height: auto;
margin: 0 auto;
margin-bottom: 10px;
box-shadow: 7px 7px 10px;

}

.exwife{
	width: 25px;
	height: 25px;
	
	display: inline-block;
	margin: .5px;
	
}



.btn{
	
	padding: 0;
	width:80px;
	height: 45px;
	margin: 0 auto;
}

